@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
  --primary-color: rgb(0, 130, 217);
  --primary-color-darker: rgb(0, 89, 149);
}

* {
  box-sizing: border-box;
  outline: 0;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  border-radius: .5rem;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: .5rem;
}

form button:hover {
  background: var(--primary-color-darker);
}

.info {
  display: flex;
}

.info > * {
  width: 50%;
}

.result {
  display: none;
  background-color: rgb(17, 149, 68);
  color: #fff;
  border-radius: .5rem;
  text-align: center;
  padding: .4rem .7rem;
}

.result.show {
  display: block;
}

.result.invalid {
  background-color: rgb(137, 29, 29);
}